
*.pch
*.ipch
*.db
*.db
.vs/CampusNavigation/v16/Browse.VC.db
*.db
.vs/CampusNavigation/v16/Browse.VC.db
.vs/CampusNavigation/v16/Browse.VC.db-wal
*.opendb
*.db
*.db
/.vs/CampusNavigation/v16
/.vs/CampusNavigation
/.vs
.vs/CampusNavigation/v16/Browse.VC.db
